<footer class="site-foot">
  <div class="site-foot__logo">
    <a href="/">
      <span class="site-foot__initials" aria-hidden="true">LM</span>

      <span class="u-sr-only">Lokesh Mahajan</span>
    </a>
  </div><!-- .site-foot__logo -->
</footer>

<style lang="scss">
  .site-foot {
    @include flex(row, center, center);

    position: relative;
    z-index: 3;

    padding: 1.5rem;

    border-top: 1px solid color(secondary);

    @include mq(phone) {
      padding: 1rem;
    }

    &__logo {
      a {
        @include flex(row, center, center);

        width: 3rem;
        height: 3rem;

        color: color(secondary);
        text-decoration: none;

        @include mq(phone) {
          width: 1.875rem;
          height: 1.875rem;
        }
      }
    }

    &__initials {
      display: block;

      color: color(secondary);
      font: 700 1.25rem / 1 font-family(fraktion);
      letter-spacing: -0.08em;
    }

    &__logo {
      .site-foot__initials {
        display: block;
        width: 3rem;
        height: 3rem;

        @include flex(row, center, center);

        @include mq(phone) {
          width: 1.875rem;
          height: 1.875rem;
        }
      }
    }
  }
</style>
